NOTES.md
.DS_Store
DO_TOKEN
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfvars
!*.tfvars.example
inventory-local.ini

# LaTeX build artifacts
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.listing
docs/recordings/*.gif
docs/recordings/*.png
